@model AnimalServices.Models.Registry.RegistryDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RegistryDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnimalId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnimalId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AptDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AptDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AptTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AptTime)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RegistryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
