@model IEnumerable<AnimalServices.Models.Registry.RegistryListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AptDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AptTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnimalID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AptDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AptTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnimalID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
